body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  margin: 0px;
}
a{
  text-decoration: none;
}
#header{
  background-color: #1F0A3A;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 5.5rem;
}
#header img{
  max-width: 70px;
}
.logo{
  position: absolute;
  left: 40px;
}
ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
}
.menu{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /* position: fixed; */
}
.menu li {
  margin-right: 20px;
}
ul.menu{
  place-content: center;
}
.menu a{
  display: block;
  padding: 8px 15px;
  font-size: 18px;
  color: #FAF5C7;
  border-radius: 4px;
  border: solid 2px transparent;
  text-transform: uppercase;
}
.menu a:hover {
  text-decoration: underline;
  text-decoration-color: #C2ACFF;
}
.intro{
  height: 60rem;
  background-color: #1F0A3A;
  background-image: url(../img/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
}
.intro h1{
  margin: auto;
  font-size: 64px;
  color: #FAF5C7;
}
